<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My MVC</title>
  </head>
  <body>

    <%- include("./layout/header.ejs",{
        headerTitle: "Home"
    }) %>

    <content >
        <h4> Tis is content</h4>
    </content>

    <%- include("./layout/footer.ejs") %>

  </body>
</html>
